body{
	background-color: #f2f2f2;
}

.container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.blocks{
	position: relative;
	height: 40px;
	border-bottom: 2px solid #0033CC;
}

.tab{
	background: #ccc;
	color: #000;
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}

.sel{
	background: #0033CC;
	color: #fff;
}

.content{
	position: relative;
	color: #999;
	display: none;
	padding: 10px;
}

.show{
	display: block;
}

/* Новости */
h2{
	background: gray;
	color: #fff;
	padding: 5px;
	margin-bottom: 1px;
	margin-top: 0px;
	cursor: pointer;
	font-size: 18px;
	border-radius: 4px;
	display: inline-block;
}

.text{
	position: relative;
	color: black;
	display: none;
	background: #dbdbdb;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: justify;
	
}

img{
/* 	border-radius: 5px; */
}

/* Галерея */
.field{
	position: relative;
	width: 1000px;
	height: auto;
	margin: 0px auto;
}

.slider{
	position: relative;
	width: 700px;
	height: 300px;
	margin: 0px auto;
}

.slider #button_left, .slider #button_right{
	position: absolute;
	width: 100px;
	height: 300px;
	top: 0px;
	cursor: pointer;
}

.slider #button_left{
	left: 0px;
	background: url(arrow_left.png) center center no-repeat;
}

.slider #button_right{
	right: 0px;
	background: url(arrow_right.png) center center no-repeat;
}

.slider #out{
	position: relative;
	width: 500px;
	height: 300px;
	margin: 0px 100px;
	overflow: hidden;
	background: #000;
}

.slider #out img{
	float: left;
	margin: 0px auto;
	width: 500px;
	height: 300px;
	border: none;
}

/* Контакты */
.alert{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: none;
}

.alert .shadow{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #999;
	opacity: 0.6;
	z-index: 2;
}

.alert .box{
	position: absolute;
	width: 640px;
	height: 400px;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -320px;
	background: #fff;
	border-radius: 5px;
	z-index: 3;
	border: 3px solid #ccc;
}

.map{
	color: #000;
	text-decoration: none;
	border-bottom: 1px dotted #000;
}

/* Обратная связь */
form{
	margin-top: 30px;
}

.feedback{
	color: black;
	font-family: arial;
}

.fieldname{
	position: relative;
	width: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	float: left;
}

.fieldblock{
	position: relative;
	width: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	float: left;
	padding: 3px;
	border: 2px solid #ccc;
	height: 22px;
	line-height: 22px;
	outline-width: 0px;
}

.fieldarea{
	position: relative;
	width: 300px;
	font-size: 14px;
	padding: 3px;
	border: 2px solid #ccc;
	height: 150px;
	line-height: 16px;
	float: left;
	margin-bottom: 20px;
	outline-width: 0px;
}

.clear{
	position: relative;
	clear: both;
}

.required{
	color: #bf0000;
	font-size: 16px;
}

.warn{
	position: relative;
	width: 450px;
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: bold;
	border: 1px dashed #bf0000;
	padding: 10px;
	display: none;
	color: #bf0000;
}

/* Подвал */
.footer{
	padding-top: 700px;
	padding-bottom: 40px;
	padding-right: 10px;

}

.year{
	float: right;
}

.author{
	float: right;
}

